@import 'nice-select';

* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}


.container {
  margin: 0 auto;
  width: 1024px;
  position: relative;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Light.ttf);
}

body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4cb1ca;
  height: 43px;
  width: auto;
  display: flex;
  align-items: center;
}

.forms-account {
  display: flex;
  align-items: center;
  width: 1024px;
  height: 43px;
}

.forms {
  display: flex;
  height: inherit;

  form {
    display: flex;
    align-items: center;
    height: inherit;
    margin-right: 25px;

    .select__title {
      color: #b2eaf8;
      font-weight: 400;
      font-size: 13px;
      margin-right: 8px;
      cursor: default;
    }

    .select-box_1 {
      color: #fff;
      font-weight: 400;
      font-size: 13px;
      border: none;
      background: none;
      padding-left: 0px;
      padding-right: 0px;

      &:after {
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        right: -10px;
      }

      .list {
        background-color: #4cb1ca;
      }

      .option {
        padding-left: 8px;
        padding-right: 8px;

        &:hover {
          background-color: darken(#4cb1ca, 5%);
        }

        &.focus, &.selected.focus {
          background-color: darken(#4cb1ca, 25%);
        }

        &.selected {
          font-weight: bold;
        }
      }
    }
  }
}

.account {
  display: flex;
  justify-content: space-between;
  width: 358px;
  margin-left: auto;

  a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding-right: 15px;
    border-right: 1px solid #bff2ff;
    cursor: pointer;
  }

  a:hover {
    color: red;
  }

  a:last-child {
    border: none;
    padding-right: 0;
  }
}

.menu-search {
  display: inline-flex;
  align-items: center;
  width: 1024px;
  height: 107px;

  .menu {
    margin-right: auto;
    display: flex;

    span {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 36px;
      color: #656565;
    }

    .menu-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 346px;
      margin-left: 59px;

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 14px;
        color: #656565;
        cursor: pointer;
      }

      a:hover {
        color: red;
      }
    }
  }

  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input[type="search"] {
      width: 173px;
      height: 29px;
      font-size: 13px;
      font-weight: 400px;
      color: #b7b7b7;
      padding-left: 7px;
      outline-color: #4cb1ca;
    }

    input::placeholder {
      font-size: 13px;
      font-weight: 400px;
      color: #b7b7b7;
    }

    input[type="submit"] {
      background: url(../img/search.png) no-repeat;
      border: none;
      display: flex;
      width: 15px;
      height: 15px;
      transform: translateX(-25px);
      outline: none;
      cursor: pointer;
    }

    img {
      padding-right: 4px;
      cursor: pointer;
    }

    span {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      color: #656565;
      margin-left: 8px;
      margin-right: 9px;
    }
  }
}

.banner {

  .banner-slider__navigation {
    z-index: 1;
    transform: translateY(203px);

    .banner-slider__nav {
      position: absolute;
      cursor: pointer;
    }

    .banner-slider__nav_left {
      left: -67px;
    }

    .banner-slider__nav_right {
      right: -67px;
    }
  }

  .banner-slider {
    .banner-slider__slide {
      width: 100%;
      height: 475px;
    }

    .banner-slider__slide_01 {
      background: url(../img/baner-glass.png) no-repeat center / cover;
      display: flex;
      align-items: center;

      .aluminium-exper {
        margin-left: 48px;

        .aluminium-slide__title {
          display: flex;
          align-items: center;
          background: rgba(0, 0, 0, 0.5);

          span {
            color: #fff;
            text-transform: uppercase;
            padding-left: 15px;
          }
        }

        .aluminium {
          height: 47px;
          width: 285px;

          span {
            font-weight: 300;
            font-size: 30px;
          }
        }

        .exper {
          margin-top: 3px;
          height: 47px;
          width: 329px;

          span {
            font-weight: 800;
            font-size: 28px;
          }
        }
      }
    }

    .banner-slider__slide_02 {
      background: url(../img/baner-glass.png) no-repeat center / cover;
    }

    .banner-slider__slide_03 {
      background: url(../img/baner-glass.png) no-repeat center / cover;
    }
  }
}

.all-content {
  display: flex;
  margin-top: 47px;
  margin-bottom: 76px;
}

.content{
  margin-right: auto;
  width: 760px;
}


.charpet {


  h1 {
    font-size: 24px;
    font-weight: 400;
    color: #635f57;
    text-transform: uppercase;
  }

}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

  .product {
    height: 313px;
    width: 238px;
    border: 1px solid #eeeeee;
    box-shadow: 2px 2px 5px 2px #f5f5f5;
    display: flex;
    margin-bottom: 25px;

    .status {
      position: absolute;
    }

    .glass {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 228px;
      width: 216px;
      background: #eff1f0;
      margin: 8px;

    }

    .new-product {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(11px, -4px);
    }

    .sale-product {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-3px, -4px);
    }

    .title-koshuk {
      display: -webkit-inline-flex;
      display: -ms-inline-flex;
      display: inline-flex;

      .title {
        margin-top: 7px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        width: 150px;

      span {
        font-size: 14px;
        font-weight: 400;
        color: #464148;
      }

      .price {
        font-size: 18px;
        font-weight: 400;
        color: #7db122;
      }

      .previous-price {
        font-size: 14px;
        font-weight: 400;
        color: #464148;
        text-decoration: line-through;
      }
      }

      .koshuk {
        margin-left: 10px;
        margin-top: 2px;
        cursor: pointer;
      }

      .koshuk:hover {
        opacity: 0.9;
      }
    }
}

.left {
  width: 236px;
  margin-left: auto;
  margin-top: 22px;
}

.first-left {
  display: flex;
  flex-direction: column;
  height: 485px;
  width: 233px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-shadow: 2px 2px 5px 2px #f5f5f5;
}

.girl {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: url(../img/girl.png) no-repeat center;
  border-top: 3px solid #4cb1ca;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  height: 446px;
  width: 233px;
  padding: 13px;

  .feat {
    margin-top: 20px;

  h1 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }
  }

  .button {
    margin-top: auto;
    margin-bottom: 16px;
    width: 132px;
    height: 44px;
    background: #4cb1ca;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      cursor: pointer;
    }

    a:hover {
      color: red;
    }
  }

  .button:hover {
    opacity: 0.9;
  }
}

.green {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 5px;
}

.gr-but {
  margin: 7px;
  background: #7db122;
  width: 11px;
  height: 11px;
  border-radius: 7px;
}

.bl-but {
  margin: 7px;
  background: #4cb1ca;
  width: 11px;
  height: 11px;
  border-radius: 7px;
}

.second-left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 3px solid #4cb1ca;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-shadow: 2px 2px 5px 2px #f5f5f5;
  margin-top: 30px;
  height: 282px;
  width: 233px;
  padding: 13px;

  h1 {
    margin-bottom: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }

  hr {
    width: 85px;
  }

  form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  input {
    height: 28px;
    width: 185px;
  }

  input[type=submit] {
    width: 111px;
    height: 44px;
    color: #fff;
    background: #7eb123;
    border: none;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  input[type=submit]:hover {
    opacity: 0.9;
  }
}

#order {
  height: 106px;
  width: 100%;
  background: #4cb1ca;
}

.orders {
  display: flex;
  justify-content: space-between;

  .shopping {
    display: flex;
    align-items: center;
    height: 106px;
    width: auto;

    h1 {
      margin-left: 19px;
      font-size: 21px;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
    }
  }
}

#colons {
  height: 335px;
  width: 100%;
  background: #39a0b9;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 49px;
}

.column {
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
  }

  span {
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
  }
}

.facebook {
  height: auto;
  width: 233px;

  img {
    margin-top: 5px;
    width: 47px;
    height: 23px;
    cursor: pointer;
  }

  .members {
    margin-top: 5px;
    margin-bottom: 9px;
    width: inherit;
    height: 125px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #4cb1ca;
    border-bottom: 1px solid #4cb1ca;

    img {
      height: 49px;
      width: 49px;
      cursor: pointer;
    }
  }
}

.twit {
  display: flex;
  justify-content: space-between;
  width: 223px;
  margin-bottom: 30px;

  img {
    height: 43px;
    width: auto;
    margin-right: 14px;
    cursor: pointer;
  }

  .blue {
    color: #9ae2f4;
  }
}

.infa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 145px;

  div {
    display: flex;
    justify-content: flex-start;


    img {
      height: 9px;
      width: 6px;
      margin-top: 5px;
      margin-right: 11px;
    }
  }
}

.contact-us {
  width: 196px;

  .bord {
    border-bottom: 1px solid #4cb1ca;
  }
}

.contact {
  width: 120px;
  margin-bottom: 15px;
}

.icons {
  margin-top: 20px;

  img {
   margin-right: 5px;
   cursor: pointer;
  }
}

footer {
  height: 61px;
  width: 100%;
  background: #0b4b5a;
}

.footer {
  height: 61px;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 3px;

  span {
    font-size: 13px;
    font-weight: 400;
    color: #8adcf0;
  }
}

.about-us {
  display: flex;
  justify-content: space-between;
  width: 447px;
  margin-left: auto;

  a {
    border-right: 1px solid #39a0b9;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #8adcf0;
    padding-right: 15px;
    cursor: pointer;
  }

  a:last-child {
    padding-right: 0;
    border-right: none;
  }

  a:hover {
    color: red;
  }
}
