* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

html {
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 1024px;
  position: relative;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Light.ttf);
}

body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: #4cb1ca;
  height: 43px;
  width: 100%;
  display: flex;
  align-items: center;
}

.forms-account {
  display: inline-flex;
  align-items: center;
  width: 1024px;
}

.forms {
  display: flex;
  justify-content: space-between;
  width: 245px;

  span {
    color: #b2eaf8;
    font-weight: 400;
    font-size: 13px;
  }

  .select-box-1 {
    display: inline-flex;
    overflow: hidden;
    background: url(../img/select.png) no-repeat right;
    padding: 0;
    width: 60px;

   select {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    border: none;
    background-color: inherit;
    padding: 0;
    width: 75px;
  }
  }

  .select-box-2 {
    display: inline-flex;
    overflow: hidden;
    background: url(../img/select.png) no-repeat right;
    padding: 0;
    width: 45px;

   select {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    border: none;
    background-color: inherit;
    padding: 0;
    width: 60px;
  }
  }
}

.account {
  display: flex;
  width: auto;
  margin-left: auto;

  a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding: 0 15px 0 15px;
    border-right: 1px solid #bff2ff;
  }

  a:last-child {
    border: none;
    padding-right: 0;
  }
}

.menu-search {
  display: inline-flex;
  align-items: center;
  width: 1024px;
  height: 107px;

  .menu {
    margin-right: auto;
    display: flex;

    span {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 36px;
      color: #656565;
    }

    .menu-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 346px;
      margin-left: 59px;

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 14px;
        color: #656565;
      }
    }
  }

  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: 173px;
      height: 29px;
      font-size: 13px;
      font-weight: 400px;
      color: #b7b7b7;
    }

    input[type="submit"] {
      background: url(../img/search.png) no-repeat;
      border: none;
      display: flex;
      width: 15px;
      height: 15px;
      transform: translateX(-25px);
    }

    img {
      padding-right: 4px;
    }

    span {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      color: #656565;
      margin-left: 8px;
      margin-right: 9px;
    }
  }
}

.baner {
  background: url(../img/baner.png) no-repeat center / cover;
  height: 475px;
  width: 100%;
  display: flex;
  align-items: center;
}

#left-nav {
  position: absolute;
  left: -67px;
}

#right-nav {
  position: absolute;
  right: -67px;
}

.aluminium-exper {
  margin-left: 48px;
  transform: translateY(-15px);
  .aluminium {
    height: 47px;
    width: 285px;
    background: rgba(102, 98, 89, 0.5);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-weight: 300;
      font-size: 30px;
      color: #fff;
      text-transform: uppercase;
    }
  }

  .exper {
    margin-top: 3px;
    height: 47px;
    width: 329px;
    background: rgba(102, 98, 89, 0.5);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-weight: 800;
      font-size: 28px;
      color: #fff;
      text-transform: uppercase;
    }
  }
}
